<?xml version="1.0"?>

<launch>
  <!-- Show in Rviz   -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find ros_finger_sensor)/launch/finger_sensor.rviz"/>

  <!-- Track QR Codes from xtion-->
  tf names are hard coded in? not sure how this affects running two instances
  <group ns="qr_xtion">
    <arg name="marker_size" default="4.4" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/camera/depth_registered/points" />
    <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
    <arg name="output_frame" default="/base" />
    
    <node name="ar_track_alvar_xtion" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
  </group>

  <!-- Track QR Codes from baxter left hand-->
  <!-- <group ns="qr_baxter"> -->
  <!--   <arg name="marker_size" default="4.4" /> -->
  <!--   <arg name="max_new_marker_error" default="0.08" /> -->
  <!--   <arg name="max_track_error" default="0.2" /> -->
  <!--   <arg name="cam_image_topic" default="/cameras/left_hand_camera/image" /> -->
  <!--   <arg name="cam_info_topic" default="/cameras/left_hand_camera/camera_info" /> -->
  <!--   <arg name="output_frame" default="/base" /> -->
    
  <!--   <node name="ar_track_alvar_baxter" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" /> -->
  <!-- </group> -->
</launch>
